/* .vuepress/styles/index.scss */

:root {
    --c-brand: #F4511E; /* 主色调 */
    --c-accent: #FFB300; /* 强调色 */
    --c-bg: #FFF8F1; /* 背景色 */
    --c-text: #2D2D2D; /* 主要文字颜色 */
    --c-text-light: #6D6D6D; /* 次要文字颜色 */
  }
  